body {
  background-color: #edeef0;
}
.brand-logo {
  left: 15%;
}
.fade-enter-active, .fade-leave-active {
  transition: all .2s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active для <2.1.8 */ {
  opacity: 0;
}
